@mixin nav-item {
  display: block;
  margin: 0;
  padding: .5rem 1rem;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent;
  white-space: nowrap;
}